{
  "extends": "react-app",
  "rules": {
    "semi": [
      1,
      "never"
    ],
    "class-methods-use-this": "off",
    "react/prefer-stateless-function": "off",
    "curly": "off",
    "nonblock-statement-body-position": "off",
    "no-lonely-if": "off"
  }
}
