.pt-menu-item {
  /* Without this the menu items are blurry in chrome */
  /* FIXME: find better way */
  -webkit-font-smoothing: antialiased;
}

#dashboard-name:hover + .inline-text-icon {
  display: inline;
}

.inline-text-icon {
  margin-left: 0.25em;
  display: none;
}
